//change to diffrent file
$PrimaryFont : 'maaxR';
$secondaryFont : 'Montserrat';
$default-bRadius: 30px;

$small-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.27);
$card-shadow : 0 2px 43px 0 #e5def3;
$Accent-color : #7632ff;


//Global Rules
@mixin bRad($n : $default-bRadius) {
  border-radius: $n;
}

.clip {
  @include bRad();
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .18;
  clip-path: polygon(0 0, 10% 0, 48% 100%, 0% 100%);
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  @include bRad();
}

*:focus {
  outline: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  align-items: center;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "maaxR";
  font-size: 20px;
  font-weight: 600;
  color: $Accent-color;
  transition: .3s;

  .span {
    color: initial;
    margin-top: 5px;

    i {
      margin: 4px 0;
    }
  }
}
.link:hover{
  transform: translate(0,-2px);
}

.heading {
  padding-top: 64px;
  font-family: $PrimaryFont;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.86;
  text-align: center;
  color: #1e2d4f;
  flex: .2;
  justify-self: center;

  .bolder {
    font-weight: 600;
  }
}

.sub-heading {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  color: #1e2d4f;
  width: 90%;
  flex: .2;
  align-self: center;
}

.flex {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .flexItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: .2s;
  }
  .flexItems:hover {
    transform: translate(0,-4px);
  }
}

//specific
.container-1 {
  position: relative;
  height: 680px;

  .illustrations {
    width: 1129px;
    height: 352px;
    display: flex;
    justify-content: space-evenly;
    top: 95px;
    position: absolute;
  }

  .dots {
    top: 126px;
    left: 0;
    position: absolute;
  }

  .boy1 {
    top: 105px;
    justify-self: start;
  }

  .yoga-girl {
    top: 110px;
    justify-self: center;
  }

  .boxer {
    top: 65px;
    justify-self: end;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 331px;
    height: 352px;
    width: 100%;
    position: absolute;
  }

  .section-location {
    @include bRad(32px);
    width: 1129px;
    height: 352px;
    background-color: #e7fefe;
    background-image: url('../assets/aTrans.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .heading {
      font-size: 42px;
    }

    .button-cont {
      display: flex;
      flex-direction: row;
      font-family: $PrimaryFont;
      font-weight: 600;
      font-size: 16px;

      input {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
      }
    }

    input.button {
      padding: 20px 20px;
      width: 280px;
    }

    .button:hover {
      box-shadow: $small-shadow;
    }

    .button {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      align-items: center;
      padding: 20px 40px;
      margin: 5px;
      @include bRad(10px);
      border: solid 0.5px #1e2d4f3b;
      background-color: #ffffff;
      display: flex;
      transition: .6s;

      img {
        width: 21px;
        height: 20px;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    .button.primary {
      padding: 25px;
      color: white;
      background-color: $Accent-color;
      transition: .5s;

      .mdi-magnify::before {
        font-size: 25px;
      }
    }

    .button.primary:hover {
      background-color: $Accent-color;
    }
  }
}

.container-2 {

  .section {
    position: relative;
    margin-top: 155px;
    width: 1285px;
    height: 724px;
    background-color: #efe7ff;

  }

  .clip {
    background-color: #b9affb;
  }

  .heading {
    font-size: 32px;
  }

  .flex {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .flexItems {
      width: 267px;
      height: 219px;
      @include bRad(16px);

      img {
        position: absolute;
        height: 200px;
        top: -80px;
      }

      p {
        font-family: $PrimaryFont;
        font-size: 25px;
        font-weight: 600;
        line-height: 0.93;
        color: #1e2d4f;
        bottom: 20px;
        position: relative;
      }
    }

    .flexItems:hover {
      box-shadow: $small-shadow;
    }

    .item1 {
      background: url('../assets/cutoutA.svg');
    }

    .item2 {
      background: url('../assets/cutoutB.svg');
    }

    .item3 {
      background: url('../assets/cutoutC.svg');
    }
  }

  .link-cont {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  
}

.container-3 {
  .section {
    margin-top: 170px;
    width: 1283px;
    height: 494px;
    background-color: #fcecfa;
    position: relative;

    .clip {
      opacity: 0.72;
      background-image: linear-gradient(141deg, #ebaae8 2%, rgba(255, 255, 255, 0) 89%);
    }

    .flex.cont {
      margin: 40px 0;

      .flexItems {
        box-shadow: 0 2px 43px 0 rgba(0, 0, 0, 0.17);
        overflow: hidden;

        .image-cont {
          position: relative;

          img {
            display: block;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.47));
          }

          .header {
            position: absolute;
            bottom: 20px;
            left: 20px;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            font-family: $PrimaryFont;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.08;
            color: #ffffff;
          }
        }

        .text {
          width: 100%;
          background-color: white;

          .flex {
            justify-content: space-between;
            padding: 20px;

            span {
              opacity: .6;
            }

            .avatarCont {
              width: 40px;
              height: 40px;
              background-color: #1e2d4f;
            }
          }

          .link {
            height: 18px;
            padding: 0px 20px 30px;
            justify-content: start;
            font-size: 18px;
            font-weight: 600;
            color: $Accent-color;
          }
        }
      }
    }

  }
}

.slider {
  height: 54px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.container-4 {
  .section {
    margin-top: 186px;
    width: 1277px;
    height: 558px;
    @include bRad();
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    position: relative;

    .clip {
      opacity: 0.27;
      background-image: linear-gradient(131deg, #1e2d4f 2%,
          rgba(255, 255, 255, 0) 86%);
    }

    .flex {

      .image {
        height: 322px;
        width: 322px;
        @include bRad();
        box-shadow: 0 0 182px -16px #959595;
        background-color: #1e2d4f;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          margin: 40px;
        }
      }

      .about {
        width: 670px;
        margin-left: 74px;

        .header {
          font-family: $PrimaryFont;
          font-size: 32px;
          font-weight: 500;
          text-align: center;
          color: #1e2d4f;
        }

        p {
          margin-top: 26px;
          height: 230px;
          width: 670px;
          overflow: auto;
          font-family: $secondaryFont;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.83;
          color: #1e2d4f;
        }
      }
    }

    .flexLine {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1074px;
      height: 140px;
      background-color: white;
      @include bRad();
      box-shadow: $card-shadow;
      position: absolute;
      bottom: -66px;

      .flexItem {
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
          height: 60px;
          width: 60px;
          @include bRad();
          margin-right: 20px;
          background-color: rgb(113, 175, 185);
        }

        p {
          font-family: $PrimaryFont;
          font-size: 20px;
          font-weight: 600;

        }
      }
    }

  }
}

.container-5 {
  .section {
    margin-top: 195px;
    margin-bottom: 137px;
    width: 1251px;
    height: 384px;
    @include bRad();
    background-color: #f7f7f7;
    align-items: flex-start;
    padding-left: 67px;
    justify-content: space-around;
    position: relative;

    img {
      position: absolute;
      right: 40px;
      bottom: -40px;
    }

    .sub-heading {
      padding-top: 20px;
      text-align: left;
      margin-bottom: 20px;
      width: 750px;
      align-self: flex-start;
      margin: 0;
      color: #1e2d4f;
      opacity: 1;
    }

    .primary-button {
      @include bRad(10px);
      width: fit-content;
      padding: 16px 35px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      background-color: $Accent-color;
      border: none;
      margin-bottom: 60px;
      margin-top: 20px;
      transition: .4s;

    }
    .primary-button:hover{
      background-color: darken($Accent-color , 10%)
    }
  }
}