// maaxR
@import url('../components/fonts/maaxR/stylesheet.css');
// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}